<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>

    <add name="Myconnectionstring"  connectionString="Data Source=DESKTOP-NF0CFJ8\\SQLEXPRESS;Initial Catalog=  ;Integrated Security=True"  />

  </connectionStrings>
</configuration>